.thirds {
	/* A third of the width for columns*/
	flex: 2; /* all columns are x/6 of the width  1/3 = 2/6*/
	flex-direction: column;
	width: 30%;
	float: left;
	border: 2px solid var(--theme-bg-primary);
	border-radius: 5px;
	background-color: var(--theme-bg-primary);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
}

.seconds {
	/* A third of the width for columns*/
	flex: 3;
	flex-direction: column;
	width: 49%;
	float: left;
	border: 2px solid var(--theme-bg-primary);
	border-radius: 5px;
	background-color: var(--theme-bg-primary);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
}

.two-thirds {
	/* A third of the width for columns*/
	flex: 4;
	flex-direction: column;
	width: 65%;
	float: left;
	border: 2px solid var(--theme-bg-primary);
	border-radius: 5px;
	background-color: var(--theme-bg-primary);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
}

@media (max-width: 600px) {
	.thirds {
		width: 100%;
		margin-top: 0;
		flex: 1;
	}
	.seconds {
		width: 100%;
		margin-top: 0;
		flex: 1;
	}
	.two-thirds {
		width: 100%;
		margin-top: 0;
		flex: 1;
	}
	.flex-columns {
		flex-direction: column;
	}
}

.flex-columns {
	display: flex;
}
